POSTGRES_DB=movies_database
POSTGRES_USER=app
POSTGRES_PASSWORD=123qwe
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
STATE_FILE_NAME=state.json
ELASTIC_HOST=elasticsearch
ELASTIC_PORT=9200
ELASTIC_SCHEMA=http
